@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins&display=swap');

/*all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --unique-font: 'Clicker Script',
        cursive;
    --general-font: 'Poppins',
        sans-serif;
    --main-color: #01C880;
    --primary-color: #fff;
}



/*header*/
#header {
    background: url('/assets/images/1.png') no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}


.nav_text {
    position: relative;
    z-index: 2 !important;
}

#navbar a {
    color: var(--primary-color);
}

#navbar .navbar-brand {
    font-family: var(--unique-font);
    font-size: 96px;
    line-height: 127px;
    font-weight: normal;
}

.nav-link {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    padding: 0 1em !important;
}

.fa-bars {
    color: var(--main-color) !important;
    padding-top: 5px;
}

.header-text {
    transform: translateY(50%);
    margin-top: 3em;
}

#header_one {
    font-family: var(--unique-font);
    font-size: 134px;
    line-height: 90px;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

#btn_one {
    background: #01C880;
    border-radius: 10px;
}

#btn_two {
    background-color: var(--main-color) !important;
    color: var(--primary-color) !important;
    border-radius: 10px !important;
    font-family: 'Poppins',
        sans-serif;
    padding: 0.2em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    text-decoration: none;
}


@media (width: 1024px) {
    #header {
        width: 100%;
        height: 80vh;
        background-size: cover;
        position: relative;
    }

    .header-text {
        transform: translateY(100%) !important;
    }
}

@media (max-width: 1000px) {
    #header {
        width: 100%;
        height: 120vh;
        background-size: cover;
        position: relative;
    }

    #navbar .navbar-brand {
        font-family: var(--unique-font);
        font-size: 48px;
        line-height: 127px;
        font-weight: normal;
    }

    .header-text {
        transform: translateY(50%) !important;
    }

    #header_one {
        font-family: var(--unique-font);
        font-size: 67px;
        line-height: 45px;
        color: var(--primary-color);
        margin-bottom: 0.5em;
    }

}

@media (width:414px) {
    #header {
        width: 100%;
        height: 100vh;
        background-size: cover;
        position: relative;
    }
}

@media (max-width: 400px) {
    #header {
        width: 100%;
        height: 120vh;
        background-size: cover;
        position: relative;
    }

    #navbar .navbar-brand {
        font-family: var(--unique-font);
        font-size: 48px;
        line-height: 127px;
        font-weight: normal;
    }

    .header-text {
        transform: translateY(-5%) !important;
    }

    #header_one {
        font-family: var(--unique-font);
        font-size: 67px;
        line-height: 45px;
        color: var(--primary-color);
        margin-bottom: 0.5em;
    }
}


/*Content*/
#about_us {
    margin-top: 3em;
}

h2 {
    font-family: var(--unique-font);
    color: var(--main-color);
    font-weight: normal !important;
    font-size: 60px !important;
    line-height: 79px !important;
}

.paragraph_one {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.paragraph_two {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 27px !important;
    text-align: left;
}

h2 {
    margin-bottom: -50px !important;
}

.stars {
    position: relative !important;
    top: 42.5px;
}

#portfolio h4,
p {
    font-family: var(--general-font);
}

#portfolio .card {
    margin: auto;
    border: none !important;
    width: 300px;
    height: 458.33px;
}

#portfolio .card img {
    padding: 2px;
    height: 458.33px;
    width: 100%;
    filter: brightness(90%);
}

#carousel_one i {
    color: var(--main-color) !important;
}

#blog #carousel-three i {
    color: var(--main-color) !important;
}

#carousel_one .carousel-inner {
    height: 100%;
    width: 100%;
    margin: auto;
}

#carousel_one .carousel-caption h4 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 36px;
}

#carousel_one .carousel-caption .card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

#carousel_one .carousel-caption .text-left {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

#portfolio .carousel-caption {
    position: relative !important;
    top: -192px;
    left: 2px !important;
    z-index: 1;
    color: var(--primary-color);
    background-color: rgba(2, 180, 76, 0.6) !important;
    width: 99%;
    padding: 1em;
}

@media(width: 768px) {
    #portfolio .card {
        margin: auto;
        border: none !important;
        width: 200px !important;
        height: 458.33px;
    }

    #carousel_one .carousel-caption h4 {
        font-style: normal;
        font-weight: 600 !important;
        font-size: 18px;
        line-height: 20px;
    }
}


@media (width: 768px) {}


#Carousel_two p,
span {
    color: #494949 !important;
    font-family: Poppins !important;
    font-style: normal;
    font-weight: normal;
    font-size: 20px !important;
    line-height: 28px !important;
}


#testimony .carousel-indicators li {
    background-color: black !important;
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

#testimony hr {
    text-align: center;
    border: 3px solid #494949;
    width: 232px;
    height: 0px;
    margin: 3em auto 1em;
}

.paragraph {
    height: 508px !important;
}

#blog .carousel-inner {
    height: 100% !important;
    width: 100%;
    margin: auto !important;
}

#blog .card {
    height: 461px;
    width: 415px;
    border: none;
}

#blog .card-img-top {
    filter: brightness(80%) !important;
    height: 461px;
    width: 100%;
}

#blog .carousel-caption {
    position: relative !important;
    top: -196px;
    left: 0;
    background: rgba(60, 60, 60, 0.78);
    z-index: 1;
    padding: 1em;
}

#blog .carousel-caption p {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
}

#blog .carousel-caption a {
    color: var(--main-color) !important;
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

#form {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 36px;
}

#form #btn_three {
    border: none;
    width: 163px;
    height: 56px;
    background-color: var(--main-color) !important;
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 600;
}

#news-letter {
    background: url('/assets/images/10.png') no-repeat center center;
    display: table;
    height: 488px;
    position: relative;
    width: 100%;
    background-size: cover;
    font-size: 20px;
    line-height: 25px;
    margin-top: 5em !important;
}

.news-letter {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 2 !important;
    color: #ffffff;
}

.news-letter-text {
    padding-top: 5em !important;
}

.news-letter-text h2 {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
}

.news-letter-text p {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.input_wrapper {
    position: relative !important;
    width: 100%;
    margin: auto;
}

.input_name {
    font-family: var(--general-font);
    font-style: normal;
    position: relative !important;
    padding-left: 1em;
    border: none;
    max-width: 382px;
    width: auto;
    margin: auto;
    height: 54px;
}


.input_send {
    background-color: #01C880;
    border: none;
    position: relative !important;
    top: 0px !important;
    left: -5px !important;
    width: auto;
    max-width: 100%;
    height: 54px;
    margin: auto;
}


/*footer*/
#main_footer {
    background-color: var(--main-color);
    color: white;
    padding: 4em 2em 2em;
    text-align: justify;
}

#footer h3 {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
}

.footer_brand {
    font-family: var(--unique-font);
    font-size: 96px;
    line-height: 127px !important;
    text-decoration: none;
    color: white !important;
}

#main_footer ul {
    list-style: none;
    padding: 1.5em 0;
}

#main_footer li {
    display: inline;
    padding: 0.8em !important;
}

.footer_address {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

.footer_working_hours {
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
}

#footer_copyright {
    background: #00BF7A !important;
    color: white;
    text-align: center;
    padding: 1em;
    font-family: var(--general-font);
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
}

@media(max-width: 1000px) {
    .footer_brand {
        font-family: var(--unique-font);
        font-size: 76px;
        line-height: 127px !important;
        text-decoration: none;
        color: white !important;
    }
}