/*all elements*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #01C880;
    --primary-color: #fff;
}

body {
    font-family: 'Clicker Script',
        cursive;
    font-family: 'Poppins',
        sans-serif;
}

/*header*/
#header {
    background: url('/assets/images/1.png') no-repeat center center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
}

#header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.6);
}


.nav_text {
    position: relative;
    z-index: 2 !important;
}

#navbar a {
    color: var(--primary-color);
}

#navbar .navbar-brand {
    font-family: 'Clicker Script',
        cursive;
    font-size: 96px;
    line-height: 127px;
    font-weight: normal;
}

.nav-link {
    font-family: 'Poppins',
        sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    padding: 0 1em !important;
}

.fa-bars {
    color: var(--primary-color) !important;
    padding-top: 5px;
}

.header-text {
    transform: translateY(50%);
    margin-top: 3em;
}

#header_one {
    font-family: 'Clicker Script',
        cursive;
    font-size: 134px;
    line-height: 90px;
    color: var(--primary-color);
    margin-bottom: 0.5em;
}

#header #btn {
    background-color: var(--main-color) !important;
    color: var(--primary-color) !important;
    border-radius: 3px;
}

.header-text #btn {
    font-family: 'Poppins',
        sans-serif;
    padding: 0.5em;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    border-radius: 5px !important;
    text-decoration: none;
}

@media (max-width: 1000px) {
    #header {
        width: 100%;
        height: 120vh;
        background-size: cover;
        position: relative;
    }

    #navbar .navbar-brand {
        font-family: 'Clicker Script',
            cursive;
        font-size: 48px;
        line-height: 127px;
        font-weight: normal;
    }

    .header-text {
        transform: translateY(50%) !important;
    }

    #header_one {
        font-family: 'Clicker Script',
            cursive;
        font-size: 67px;
        line-height: 45px;
        color: var(--primary-color);
        margin-bottom: 0.5em;
    }

}

@media (max-width: 400px) {
    #header {
        width: 100%;
        height: 120vh;
        background-size: cover;
        position: relative;
    }

    #navbar .navbar-brand {
        font-family: 'Clicker Script',
            cursive;
        font-size: 48px;
        line-height: 127px;
        font-weight: normal;
    }

    .header-text {
        transform: translateY(-5%) !important;
    }

    #header_one {
        font-family: 'Clicker Script',
            cursive;
        font-size: 67px;
        line-height: 45px;
        color: var(--primary-color);
        margin-bottom: 0.5em;
    }
}


/*Content*/
#main {
    margin-top: 3em;
}

h2 {
    font-family: 'Clicker Script',
        cursive;
    color: var(--main-color);
    font-weight: normal !important;
    font-size: 60px !important;
    line-height: 79px !important;
}

.paragraph_one {
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.paragraph_two {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 27px !important;
    text-align: left;
}

h2 {
    margin-bottom: -50px !important;
}

.stars {
    position: relative;
    top: 40px;
}

#portfolio h4,
p {
    font-family: Poppins;
}

.card-img-overlay h4 {
    font-style: normal;
    font-weight: 600 !important;
    font-size: 24px;
    line-height: 36px;
}

.card-img-overlay .card-text {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.card-img-overlay .text-left {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}


.card-img-top {
    filter: brightness(90%);
}

.card-img-overlay {
    margin-top: 130% !important;
    text-align: center;
    background: rgba(2, 180, 76, 0.6);
    z-index: 1;
    color: var(--primary-color);
    padding: 2em 4em !important;
}

@media(max-width:1100px) {
    .card-img-overlay {
        padding: 1em 2em !important;
    }
}


@media (width: 768px) {
    .card-img-overlay {
        padding: 2em 2em !important;
    }
}

/*footer*/
#main_footer {
    background-color: var(--main-color);
    color: white;
    padding: 2em;
    text-align: justify;
}

#main_footer a {
    font-family: 'Clicker Script',
        cursive;
    font-size: 96px;
    line-height: 127px;
    text-decoration: none;
    color: white !important;
}

#main_footer ul {
    list-style: none;
}

#main_footer li {
    display: inline;
    padding: 0 0.8em;
}

#footer_copyright {
    background: #00BF7A !important;
    color: white;
    text-align: center;
    padding: 1em;
}